* {
    font-weight: 600;
    cursor: pointer;
    color: #312852;
}
button {
    margin-right: 15px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #312852;
    background-color: #F8E71C;
    box-shadow: 0 0 4px 0 rgba(155, 155, 155, 0.3);
    transition: box-shadow 0.4s;
    margin-bottom: 10px;
}
button:hover {
    box-shadow: 0 0 6px 0 rgba(64, 57, 31, 0.7);
}
input {
border: 1px solid grey;
width: 200px;
height: 30px;
margin-bottom: 10px;
}
label {
    display: block;
}
*[_ngcontent-c1] {
    font-weight: 600;
    cursor: pointer;
    color: #312852;
    display: flex;
    flex-direction: column;
    align-items: center;
}