<div>
    <g-map [mapService]="mapService"></g-map>
    <div>
        <div *ngFor="let item of mapService.getList()" class="item">
            <div class="id">id: {{item.id || 'new'}}</div>
            <div>
                <input type="text" [(ngModel)]="item.name">
            </div>
            <div class="coord">
                lat: {{item.lat}} <br>
                lng: {{item.lng}}
            </div>
            <div class="controls">
                <button (click)="save(item)">Save new</button>
                <button (click)="update(item)">Edit</button>
                <button (click)="delete(item)">Delete</button>
            </div>
        </div>
    </div>
</div>