<div class="about">
    <div class="flex">
        <div class="created-by">
            <div class="head">created by:</div>
            Ruslan Smolovyk
        </div>
        <div class="info">
            <div class="head">Contacts</div>
            <ul>
                <li><a href="mailto:googruff@gmail.com">googruff@gmail.com</a></li>
                <li><a href="https://www.linkedin.com/feed/" target="_blank">Linkedin</a></li>
                <li><a href="https://github.com/ruffHub" target="_blank">GitHub</a></li>
                <li><a href="https://gitlab.com/" target="_blank">GitLub</a></li>
            </ul>
        </div>
    </div>
</div>
